*{
  padding: 0;
  margin: 0;
}
@media only screen and (max-width:450px) {
  main .trending-games .trend-top {
    gap: 7px;
  }
  footer p{
    font-size: 12px;
    margin: 19px;
  }
}
@media only screen and (max-width:450px) {
  main .trending-games .trend-top {
    gap: 5px;
  }
  .orange-btn{
    width: 80px;
    font-size: 12px;
  }
  .white-btn{
    width: 100px;
  }
  footer p {
    font-size: 9px;
    margin: 49px;
}
header .main-header{
  text-align: center;
}
.our-header {
  padding: 130px !important;
}
}
